@model MVCTitanic10PMBatch.Models.EmpDept
@{
    ViewBag.Title = "SendData5";
}

<h2>SendData5</h2>

<table>
    <tr>
        <th>EmpId</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    @foreach (var item in Model.emp)
    {
        <tr>
            <td>@item.EmpId</td>
            <td>@item.EmpName</td>
            <td>@item.EmpSalary</td>
        </tr>
    }
</table>
<br />
<table>
    <tr>
        <th>DeptId</th>
        <th>DeptName</th>
    </tr>
    @foreach (var item in Model.dept)
    {
        <tr>
            <td>@item.DeptId</td>
            <td>@item.DeptName</td>
        </tr>
    }
</table>
